* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1em;
   line-height: 1.1em;
}

body {
   background: rgb(240, 240, 245);
   color: black;
   padding: 1em;
}

@media (min-width: 480px) {
   ul#preshow {
      width: 40% !important;
   }
}

@media (prefers-color-scheme: dark) {
   body {
      background: black;
      color: white;
   }

   ul#preshow {
      background: rgb(26, 26, 28) !important;
   }
}

h1 {
   font-size: 225%;
   padding-left: 0.25rem;
   padding-bottom: 1rem;
}

h2 {
   font-size: 150%;
   padding: 2rem 0.25rem 1rem 0.25rem;
}

ul {
   list-style: none;
   width: 100%;
   height: 100%;
}

li {
   padding: 0.75em 0.5em;
}

ul#preshow {
   background: white;
   border-radius: 0.5rem;
   margin-top: 0.25rem;
}

ul#preshow li {
   padding: 1rem 1rem 1rem 1.5rem;
   font-size: 115%;
}

button#play {
   padding: 10px 20px;
   font-size: 1.5rem;
   border: 1px solid #efefef;
   margin: 20px 0 20px 60px;
   background-color: grey;
}

audio {
   padding-top: 0.5em;
}

ul.nav {
   display: none;
}
