
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Audimance - DEMO</title>

	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/selection-list.css">

	<script src="/js/index.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Demo</h1>
	</header>

	<main>
		<ul class="selection-list nav">
			<li class="nav-item">
				<a href="/live">Go to Live Performance</a>
			</li>
		</ul>

		<h2>Audio Program</h2>

		<ul id="preshow">
			<li>
				<div>
					<strong>Welcome</strong>: 2 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/welcome.webm" />
						<source src="media/static/welcome.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>DEMO Program</strong>: 13 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/program.webm" />
						<source src="media/static/program.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>Content Summary</strong>: 7 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/content-summary.webm" />
						<source src="media/static/content-summary.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>Invitation</strong>: 2 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/invitation.webm" />
						<source src="media/static/invitation.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>What the ramp teaches</strong>: 6 minutes, <br/>
					An essay by Georgina Kleege, read by Alice Sheppard
				</div>
				<div>
					<audio controls>
						<source src="media/static/what-the-ramp-teaches.webm" />
						<source src="media/static/what-the-ramp-teaches.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>The Homeland Ramp</strong>: 3 minutes, <br />
					An essay by Alice Sheppard
				</div>
				<div>
					<audio controls>
						<source src="media/static/homeland-ramp.webm" />
						<source src="media/static/homeland-ramp.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>On Ramps and Platforms</strong>: 8 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/ramps-and-platform.webm" />
						<source src="media/static/ramps-and-platform.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>Access Experience</strong>: 9 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/access-experience.webm" />
						<source src="media/static/access-experience.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>Northrop Blog</strong>: 4 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/northrop-blog.webm" />
						<source src="media/static/northrop-blog.m4a" />
					</audio>
				</div>
			</li>
			<li>
				<div>
					<strong>Reading Resources</strong>: 3 minutes
				</div>
				<div>
					<audio controls>
						<source src="media/static/reading-resources.webm" />
						<source src="media/static/reading-resources.m4a" />
					</audio>
				</div>
			</li>
		</ul>
	</main>
</body>
</html>
