
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Audimance - Demo Program</title>

	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/selection-list.css">

	<script src="/js/index.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Demo Performance</h1>
		<p class="performance-description">An excerpt from <em>Wired</em> by Kinetic Light</p>
		<p class="copyright-statement">Copyright 2022, Kinetic Light Inc.</p>
	</header>

	<main>
		<ul class="selection-list nav">
			<li class="nav-item">
				<a href="/live">Go to Live Performance</a>
			</li>
		</ul>

		<h2>Audio Program</h2>

		<ul id="preshow">
			<li>
				<div>
					<p><strong>Front cover</strong>: 5 minutes,</p>
					<p class="program-item-description">Including Table of Contents</p>
				</div>
				<div>
					<audio controls>
						<source src="https://s3.cycore.io/kineticlight/wired/front-cover.mp3" />
					</audio>
				</div>
			</li>

			<li>
				<div>
					<strong>Curator's Notes</strong>: 4 minutes
				</div>
				<div>
					<audio controls>
						<source src="https://s3.cycore.io/kineticlight/wired/curators-notes.webm" />
						<source src="https://s3.cycore.io/kineticlight/wired/curators-notes.mp3" />
					</audio>
				</div>
			</li>

			<li>
				<div>
					<p><strong>Curator's Note on Access</strong>: 4 minutes,</p>
					<p class="program-item-description">Curator's Note summarizing access</p>
				</div>
				<audio controls>
					<source src="https://s3.cycore.io/kineticlight/wired/curators-note-access-summary.webm" />
					<source src="https://s3.cycore.io/kineticlight/wired/curators-note-access-summary.mp3" />
				</audio>

			</li>

			<li>
				<div>
					<p><strong>Biographies</strong>: 8 minutes,</p>
					<p class="program-item-description">Biographies of dancers, crew, and artists</p>
				</div>
				<audio controls>
					<source src="https://s3.cycore.io/kineticlight/wired/bios.webm" />
					<source src="https://s3.cycore.io/kineticlight/wired/bios.mp3" />
				</audio>
			</li>

			<li>
				<div>
					<p><strong>Funders</strong>: 2 minutes,</p>
					<p class="program-item-description">Wired Funders and Readings</p>
				</div>
				<audio controls>
					<source src="https://s3.cycore.io/kineticlight/wired/funders.webm" />
					<source src="https://s3.cycore.io/kineticlight/wired/funders.mp3" />
				</audio>
			</li>

			<li>
				<div>
					<p><strong>Back cover</strong>: 3 minutes,</p>
					<p class="program-item-description">Back cover and MCA funders</p>
				</div>
				<audio controls>
					<source src="https://s3.cycore.io/kineticlight/wired/back-cover.webm" />
					<source src="https://s3.cycore.io/kineticlight/wired/back-cover.mp3" />
				</audio>
			</li>
		</ul>
	</main>
</body>
</html>
