<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Audimance - DEMO Performance</title>

   <link rel="stylesheet" href="/css/master.css">
   <link rel="stylesheet" href="/css/selection-list.css">
</head>
<body>
   <header>
      <h1>Select your experience</h1>
   </header>

   <main>
      <ul class="selection-list">
         <li class="nav-item">
            <a href="/room/8084a0953a687e398b34db0d4f711204">Spatial Mixing</a>
         </li>
         <li class="nav-item">
            <a href="/tracks/8084a0953a687e398b34db0d4f711204">Menu Mixing</a>
         </li>
      </ul>
   </main>
</body>
</html>
